---

- hosts: all
  become: true
  pre_tasks:

  - name: install update for Debian and Ubuntu
    tags: always
    apt:
      update_cache: yes
      upgrade: yes
    when: ansible_distribution == ["Debian", "Ubuntu"]

  - name: install update for CentOS
    tags: always
    dnf:
      update_only: yes
      update_cache: yes
    when: ansible_distribution == "CentOS"


- hosts: workstations
  become: true
  tasks:

  - name: install unzip
    tags: unzip
    package:
      name: unzip


- hosts: web_servers
  become: true
  tasks:

  - name: install apache and php packages for Debian and Ubuntu
    tags: apache,apache2,ubuntu
    apt:
      name:
        - apache2
        - llibapache2-mod-php
      state: latest
    when: ansible_distribution == ["Debian", "Ubuntu"]

  - name: install apache and php packages for CentOS
    tags: apache,httpd,centos
    dnf:
      name:
        - httpd
        - php
      state: latest
    when: ansible_distribution == "CentOS"

  - name: start httpd for CentOS
    tags: apache,httpd,centos
    service:
      name: httpd
      state: started
      enabled: yes
    when: ansible_distribution == "CentOS"

  - name: change admins email address for CentOS
    tags: apache,httpd,centos
    lineinfile:
      path: /etc/httpd/conf/httpd.conf
      regexp: '^ServerAdmin'
      line: ServerAdmin somebody@somewhere.net
    when: ansible_distribution == "CentOS"
    register: httpd

  - name: restart httpd for CentOS
    tags: apache,httpd,centos
    service:
      name: httpd
      state: restarted
    when: httpd.changed


- hosts: db_servers
  become: true
  tasks:

  - name: install mariadb package for Debian and Ubuntu
    tags: db,mariadb,ubuntu
    apt:
      name: mariadb-server
      state: latest
    when: ansible_distribution == ["Debian", "Ubuntu"]

  - name: install mariadb packages for CentOS
    tags: db,mariadb,centos
    dnf:
      name: mariadb
      state: latest
    when: ansible_distribution == "CentOS"


- hosts: file_servers
  become: true
  tasks:

  - name: install samba for every distribution
    tags: samba,ubuntu,centos
    package:
      name: samba
      state: latest
